/* Body */

body {
background: #D1E8E2;
padding: 0;
margin: 0;
}
p {
    color: black;
  font-family: zapf chancery;
  font-size: 16px;
    margin-left: auto;
    margin-right: auto;
    width: 40em
}

.bg-image {
  background-image: url("healthyfoods2.jpeg");

  filter: blur(8px);
  -webkit-filter: blur(8px);

  height: 80%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.bg-text {
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.4);
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}

.clear {clear:both;}
.left, .right {margin:0;padding:0;width:49%;}
.left {float:left;}
.right {float:right;}

/* Chart */

#myChart {
  border-radius: 25px;
background: #376E6F;
padding: 30px;
width: 150px;
height: 100px;
margin-top: 100px;
margin-bottom: 100px;
margin-right: 150px;
margin-left: 460px;
}



nav{
  width: 95%;
  height: 75px;
  background-color: #376E6F;
  line-height: 5px;
  padding:0px 100px;
  position:fixed;
  z-index: 1;
  top: 0;
  left: 0;
  text-align: center;
  display: flex;
justify-content: center;
}

.leftlogo{
  width: 50px;
  height: 50px;
}

nav .logo{
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1.5px;
}
nav .logo p{
  text-align: left;
  font-size: 18px;
  float: left;
  color: whitesmoke;
  text-transform: uppercase;
}
nav ul{
  float: right;
}
nav ul li{
  display: inline-block;
  list-style: none;
}
nav ul li a{
  color: whitesmoke;
  text-decoration: none;
  font-size: 12.3px;
  text-transform: uppercase;
  padding:0px 20px;
}
nav ul li a:hover{
  color:white;
}
nav ul li .active{
  color:purple;
}

.content {
  padding: 8px 90px;
  font-family: "Roboto", sans-serif;
}

.content p {
  line-height: 1.9;
}

.content img {
  max-height: 500px;
}

.content {
  padding: 8px 90px;
  font-family: "Roboto", sans-serif;
}

.content p {
  line-height: 1.9;
}

.content img {
  max-height: 500px;
}



.share-btn-container {
  background: #fff;
  display: flex;
  flex-direction: column;
  padding: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
}

.share-btn-container a i {
  font-size: 32px;
}

.share-btn-container a {
  margin: 12px 0;
  transition: 500ms;
}

.share-btn-container a:hover {
  transform: scale(1.2);
}

.share-btn-container .fa-facebook {
  color: #3b5998;
}

.share-btn-container .fa-twitter {
  color: #1da1f2;
}

.share-btn-container .fa-linkedin {
  color: #0077b5;
}

.share-btn-container .fa-pinterest {
  color: #bd081c;
}

.share-btn-container .fa-whatsapp {
  color: #25d366;
}

@media (max-width: 550px) {
  .content {
    padding: 8px 32px;
  }

  .share-btn-container {
    transform: unset;
    top: unset;
    left: 0;
    bottom: 0;
    width: 100%;
    flex-direction: row;
    box-shadow: 4px 0 8px rgba(0, 0, 0, 0.3);
    padding: 16px 0;
    justify-content: center;
  }

  .share-btn-container a {
    margin: 0 32px;
  }
}

.button {
        background-color: #376E6F;
        border: none;
        color: white;
        padding: 20px 34px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        margin: 4px 2px;
        cursor: pointer;
}

footer {
  text-align: center;
  padding: 2.5px;
  background-color: #8E8D8A;
  color: white;
}
