/* Body */

body {
background: #D1E8E2;
padding: 0;
margin: 0;
}
p {
    color: black;
  font-family: zapf chancery;
  font-size: 16px;
    margin-left: auto;
    margin-right: auto;
    width: 40em
}

content {
  font-size: 32px;
  margin-left: auto;
    margin-right: auto;
    width: 14px;
    text-align: center;
}
img, iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.headers {
  font-size: 24px;
  margin-left: auto;
    margin-right: auto;
    width: 50%;
}

h1, h2, h3, h4, h5{
  text-align: center;
}

hr {
width: 100%;
height: 3px;
background-color: black;
}

.upperhr {
width: 40%;
height: 1px;
margin-right: auto;
margin-left: auto;
color: black;
background-color: black;
}

.lowerhr {
width: 100%;
height: 1px;
margin-right: auto;
margin-left: auto;
color: black;
background-color: black;
}
/* Logo */

.leftlogo:hover{
    animation: shake 0.5s;


  animation-iteration-count: infinite;
}
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.logoo {
width: 300px;
height: 300px;
  border: 5px solid #376E6F;
    border-radius: 10%;
}

/* Sign-up Button */

.button {
        background-color: #376E6F;
        border: none;
        color: white;
        padding: 20px 34px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        margin: 4px 2px;
        cursor: pointer;
}

/* Navigation Bar */

nav{
  width: 95%;
  height: 75px;
  background-color: #376E6F;
  line-height: 5px;
  padding:0px 100px;
  position:fixed;
  z-index: 1;
  text-align: center;
  display: flex;
justify-content: center;
}

.leftlogo{
  width: 50px;
  height: 50px;
}

nav .logo{
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1.5px;
}
nav .logo p{
  text-align: left;
  font-size: 18px;
  float: left;
  color: whitesmoke;
  text-transform: uppercase;
}
nav ul{
  float: right;
}
nav ul li{
  display: inline-block;
  list-style: none;
}
nav ul li a{
  color: whitesmoke;
  text-decoration: none;
  font-size: 15px;
  text-transform: uppercase;
  padding:0px 20px;
}
nav ul li a:hover{
  color:#8E8D8A;
}
nav ul li .active{
  color:purple;
}

.content {
  padding: 8px 90px;
  font-family: "Roboto", sans-serif;
}

.content p {
  line-height: 1.9;
}

.content img {
  max-height: 500px;
}


/* Socail-Media */

.share-btn-container {
  background: #fff;
  display: flex;
  flex-direction: column;
  padding: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
}

.share-btn-container a i {
  font-size: 32px;
}

.share-btn-container a {
  margin: 12px 0;
  transition: 500ms;
}

.share-btn-container a:hover {
  transform: scale(1.2);
}

.share-btn-container .fa-facebook {
  color: #3b5998;
}

.share-btn-container .fa-twitter {
  color: #1da1f2;
}

.share-btn-container .fa-linkedin {
  color: #0077b5;
}

.share-btn-container .fa-pinterest {
  color: #bd081c;
}

.share-btn-container .fa-whatsapp {
  color: #25d366;
}

@media (max-width: 550px) {
  .content {
    padding: 8px 32px;
  }

  .share-btn-container {
    transform: unset;
    top: unset;
    left: 0;
    bottom: 0;
    width: 100%;
    flex-direction: row;
    box-shadow: 4px 0 8px rgba(0, 0, 0, 0.3);
    padding: 16px 0;
    justify-content: center;
  }

  .share-btn-container a {
    margin: 0 32px;
  }
}

/* Footer */

footer {
  text-align: center;
  padding: 2.5px;
  background-color: #8E8D8A;
  color: white;
}
